### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete = school_data_complete.rename(columns={"student_name": "Student Name",
                                                "school_name": "School Name",
                                                "reading_score": "Reading Score",
                                                "math_score": "Math Score"
                                                })
school_data_complete.head()

,Student ID,Student Name,gender,grade,School Name,Reading Score,Math Score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
num_schools = len(school_data_complete["School Name"].unique())

num_students = len(school_data_complete["Student Name"].unique())

budget_total = school_data["budget"].sum()

avg_math_score = school_data_complete["Math Score"].mean()

avg_reading_score = school_data_complete["Reading Score"].mean()

passing_rate = (avg_math_score + avg_reading_score) / 2

passing_math = ((school_data_complete["Math Score"] > 70).sum() / school_data_complete["Math Score"].count()) *100

passing_reading = ((school_data_complete["Reading Score"] > 70).sum() / school_data_complete["Reading Score"].count()) *100

school_df = pd.DataFrame({"Total Schools": [num_schools],
                        "Total Students": [num_students],
                        "School Budget": [budget_total],
                        "Average Math Score": [avg_math_score],
                        "Average Reading Score": [avg_reading_score],
                        "Overall Passing Rate": [passing_rate],
                        "Passing Rate - Math": [passing_math],
                        "Passing Rate - Reading": [passing_reading]})

school_df["Total Students"] = school_df["Total Students"].map("{:,}".format)
school_df["School Budget"] = school_df["School Budget"].map("{:,}".format)
school_df["Average Math Score"] = school_df["Average Math Score"].map("{:.2f}%".format)
school_df["Average Reading Score"] = school_df["Average Reading Score"].map("{:.2f}%".format)
school_df["Overall Passing Rate"] = school_df["Overall Passing Rate"].map("{:.2f}%".format)
school_df["Passing Rate - Math"] = school_df["Passing Rate - Math"].map("{:.2f}%".format)
school_df["Passing Rate - Reading"] = school_df["Passing Rate - Reading"].map("{:.2f}%".format)

school_df

,Total Schools,Total Students,School Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Passing Rate - Math,Passing Rate - Reading
0,15,"32,715","24,649,428",78.99%,81.88%,80.43%,72.39%,82.97%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
grouped_school = school_data_complete.groupby(["School Name"])
school_type = school_data.set_index('school_name')['type']
total_students_grouped = grouped_school.count()["Student Name"]
total_budget_grouped = school_data.set_index('school_name')['budget']
budget_per_student = total_budget_grouped / total_students_grouped
avg_math_grouped = grouped_school.mean()["Math Score"]
avg_reading_grouped = grouped_school.mean()["Reading Score"]
passing_math_grouped = school_data_complete[school_data_complete["Math Score"] > 70].groupby("School Name")["Student Name"].count() / total_students_grouped *100
passing_reading_grouped = school_data_complete[school_data_complete["Reading Score"] > 70].groupby("School Name")["Student Name"].count() / total_students_grouped *100
overall_passing_grouped = (avg_math_grouped + avg_reading_grouped) / 2

school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Students Together": total_students_grouped,
                              "Total Grouped Budget": total_budget_grouped,
                              "Budget Per Student": budget_per_student,
                              "Average Grouped Math Score": avg_math_grouped,
                              "Average Grouped Reading Score": avg_reading_grouped,
                              "Passing Math Score": passing_math_grouped,
                              "Passing Reading Score": passing_reading_grouped,
                              "Overall Passing Score": overall_passing_grouped 
                              })

school_summary["Total Students Together"] = school_summary["Total Students Together"].map("{:,}".format)
school_summary["Total Grouped Budget"] = school_summary["Total Grouped Budget"].map("{:,}".format)
school_summary["Budget Per Student"] = school_summary["Budget Per Student"].map("{:,}".format)
school_summary["Average Grouped Math Score"] = school_summary["Average Grouped Math Score"].map("{:.2f}%".format)
school_summary["Average Grouped Reading Score"] = school_summary["Average Grouped Reading Score"].map("{:.2f}%".format)
school_summary["Passing Math Score"] = school_summary["Passing Math Score"].map("{:.2f}%".format)
school_summary["Passing Reading Score"] = school_summary["Passing Reading Score"].map("{:.2f}%".format)
school_summary["Overall Passing Score"] = school_summary["Overall Passing Score"].map("{:.2f}%".format)

school_summary

,School Type,Total Students Together,Total Grouped Budget,Budget Per Student,Average Grouped Math Score,Average Grouped Reading Score,Passing Math Score,Passing Reading Score,Overall Passing Score
Bailey High School,District,"4,976","3,124,928",628.0,77.05%,81.03%,64.63%,79.30%,79.04%
Cabrera High School,Charter,"1,858","1,081,356",582.0,83.06%,83.98%,89.56%,93.86%,83.52%
Figueroa High School,District,"2,949","1,884,411",639.0,76.71%,81.16%,63.75%,78.43%,78.93%
Ford High School,District,"2,739","1,763,916",644.0,77.10%,80.75%,65.75%,77.51%,78.92%
Griffin High School,Charter,"1,468","917,500",625.0,83.35%,83.82%,89.71%,93.39%,83.58%
Hernandez High School,District,"4,635","3,022,020",652.0,77.29%,80.93%,64.75%,78.19%,79.11%
Holden High School,Charter,427,"248,087",581.0,83.80%,83.81%,90.63%,92.74%,83.81%
Huang High School,District,"2,917","1,910,635",655.0,76.63%,81.18%,63.32%,78.81%,78.91%
Johnson High School,District,"4,761","3,094,650",650.0,77.07%,80.97%,63.85%,78.28%,79.02%
Pena High School,Charter,962,"585,858",609.0,83.84%,84.04%,91.68%,92.20%,83.94%
Rodriguez High School,District,"3,999","2,547,363",637.0,76.84%,80.74%,64.07%,77.74%,78.79%
Shelton High School,Charter,"1,761","1,056,600",600.0,83.36%,83.73%,89.89%,92.62%,83.54%
Thomas High School,Charter,"1,635","1,043,130",638.0,83.42%,83.85%,90.21%,92.91%,83.63%
Wilson High School,Charter,"2,283","1,319,574",578.0,83.27%,83.99%,90.93%,93.25%,83.63%
Wright High School,Charter,"1,800","1,049,400",583.0,83.68%,83.95%,90.28%,93.44%,83.82%

## Top Performing Schools (By Passing Rate)

In [26]:
school_summary["Total Students Together"].value_counts()

2,917    1
1,761    1
4,761    1
1,800    1
962      1
2,283    1
1,858    1
3,999    1
4,976    1
4,635    1
1,635    1
427      1
1,468    1
2,739    1
2,949    1
Name: Total Students Together, dtype: int64

* Sort and display the top five schools in overall passing rate

In [4]:
top_performing_schools = school_summary.sort_values("Overall Passing Score", ascending=False)
top_performing_schools.head()

,School Type,Total Students Together,Total Grouped Budget,Budget Per Student,Average Grouped Math Score,Average Grouped Reading Score,Passing Math Score,Passing Reading Score,Overall Passing Score
Pena High School,Charter,962,"585,858",609.0,83.84%,84.04%,91.68%,92.20%,83.94%
Wright High School,Charter,"1,800","1,049,400",583.0,83.68%,83.95%,90.28%,93.44%,83.82%
Holden High School,Charter,427,"248,087",581.0,83.80%,83.81%,90.63%,92.74%,83.81%
Thomas High School,Charter,"1,635","1,043,130",638.0,83.42%,83.85%,90.21%,92.91%,83.63%
Wilson High School,Charter,"2,283","1,319,574",578.0,83.27%,83.99%,90.93%,93.25%,83.63%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
bottom_performing_schools = school_summary.sort_values("Overall Passing Score", ascending=True)
bottom_performing_schools.head()

,School Type,Total Students Together,Total Grouped Budget,Budget Per Student,Average Grouped Math Score,Average Grouped Reading Score,Passing Math Score,Passing Reading Score,Overall Passing Score
Rodriguez High School,District,"3,999","2,547,363",637.0,76.84%,80.74%,64.07%,77.74%,78.79%
Huang High School,District,"2,917","1,910,635",655.0,76.63%,81.18%,63.32%,78.81%,78.91%
Ford High School,District,"2,739","1,763,916",644.0,77.10%,80.75%,65.75%,77.51%,78.92%
Figueroa High School,District,"2,949","1,884,411",639.0,76.71%,81.16%,63.75%,78.43%,78.93%
Johnson High School,District,"4,761","3,094,650",650.0,77.07%,80.97%,63.85%,78.28%,79.02%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
math_ninth_avg = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('School Name')["Math Score"].mean()
math_tenth_avg = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('School Name')["Math Score"].mean()
math_eleventh_avg = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('School Name')["Math Score"].mean()
math_twelfth_avg = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('School Name')["Math Score"].mean()

math_by_grade = pd.DataFrame({"9th Grade": math_ninth_avg,
                             "10th Grade": math_tenth_avg,
                             "11th Grade": math_eleventh_avg,
                             "12th Grade": math_twelfth_avg
                             })

math_by_grade["9th Grade"] = math_by_grade["9th Grade"].map("{:.2f}%".format)
math_by_grade["10th Grade"] = math_by_grade["10th Grade"].map("{:.2f}%".format)
math_by_grade["11th Grade"] = math_by_grade["11th Grade"].map("{:.2f}%".format)
math_by_grade["12th Grade"] = math_by_grade["12th Grade"].map("{:.2f}%".format)

math_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
School Name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
reading_ninth_avg = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('School Name')["Reading Score"].mean()
reading_tenth_avg = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('School Name')["Reading Score"].mean()
reading_eleventh_avg = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('School Name')["Reading Score"].mean()
reading_twelfth_avg = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('School Name')["Reading Score"].mean()

reading_by_grade = pd.DataFrame({"9th Grade": reading_ninth_avg,
                             "10th Grade": reading_tenth_avg,
                             "11th Grade": reading_eleventh_avg,
                             "12th Grade": reading_twelfth_avg
                             })

reading_by_grade["9th Grade"] = reading_by_grade["9th Grade"].map("{:.2f}%".format)
reading_by_grade["10th Grade"] = reading_by_grade["10th Grade"].map("{:.2f}%".format)
reading_by_grade["11th Grade"] = reading_by_grade["11th Grade"].map("{:.2f}%".format)
reading_by_grade["12th Grade"] = reading_by_grade["12th Grade"].map("{:.2f}%".format)

reading_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
School Name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [9]:
school_spending = school_summary[["Average Grouped Math Score", 
                                  "Average Grouped Reading Score", 
                                  "Passing Math Score", 
                                  "Passing Reading Score", 
                                  "Overall Passing Score"]].groupby(pd.cut(school_summary["Budget Per Student"], bins=spending_bins, labels=group_names )).mean()

school_spending.head()

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [28]:
by_school_size = school_summary.loc[:,["Average Grouped Math Score", 
                                  "Average Grouped Reading Score", 
                                  "Passing Math Score", 
                                  "Passing Reading Score", 
                                  "Overall Passing Score"]]

by_school_size["Size of School"] = pd.cut(school_summary["Total Students Together"], bins=size_bins, labels=group_names, right=False)

by_school_size = by_school_size.groupby("School Size").mean()
by_school_size.head()

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Type

* Perform the same operations as above, based on school type.

In [22]:
size_bins_type = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [23]:
by_school_type = school_summary.loc[:,["Average Grouped Math Score", 
                                  "Average Grouped Reading Score", 
                                  "Passing Math Score", 
                                  "Passing Reading Score", 
                                  "Overall Passing Score"]]

by_school_type["Type of School"] = pd.cut(school_summary["School Type"], bins=size_bins_type, labels=group_names, right=False)

by_school_type = by_school_type.groupby("School Size").mean()
by_school_type.head()

TypeError: '<' not supported between instances of 'int' and 'str'